/* fonts */
@import url(../vendor/bootstrap/css/bootstrap.css);
@import url(../vendor/fontawesome/css/font-awesome.css);
@import url(../vendor/fonts/stylesheet.css);
/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/
/* line 1, ../sass/base/_base.scss */
body {
  color: #232331;
  font-family: "titillium_webregular";
  font-size: 14px;
}

/* line 6, ../sass/base/_base.scss */
h1, h2, h3, h4 {
  margin: 0;
}

/* line 9, ../sass/base/_base.scss */
h1 {
  font-size: 2.857em;
  font-family: 'titillium_websemibold';
  margin-bottom: 30px;
}

/* line 14, ../sass/base/_base.scss */
h2 {
  font-size: 2.142em;
}

/* line 17, ../sass/base/_base.scss */
h3 {
  font-size: 1.428em;
}

/* line 21, ../sass/base/_base.scss */
a {
  text-decoration: none;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
/* line 24, ../sass/base/_base.scss */
a:hover, a:focus {
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}

/* line 30, ../sass/base/_base.scss */
ul, ol {
  padding-left: 0;
}

/* line 33, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 37, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 42, ../sass/base/_base.scss */
a:focus {
  outline: none;
}

/* line 46, ../sass/base/_base.scss */
button {
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

/* line 50, ../sass/base/_base.scss */
i {
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

/* line 54, ../sass/base/_base.scss */
p {
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

/* line 58, ../sass/base/_base.scss */
iframe {
  max-width: 100%;
}

/* line 1, ../sass/base/_header.scss */
.header {
  background-color: #2e2e3b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}
/* line 9, ../sass/base/_header.scss */
.header .logo {
  padding-top: 16px;
}
/* line 11, ../sass/base/_header.scss */
.header .logo a {
  font-family: "titillium_websemibold";
}
/* line 19, ../sass/base/_header.scss */
.header .main-menu ul li:last-child a {
  padding-right: 0;
}
/* line 25, ../sass/base/_header.scss */
.header .main-menu a {
  font-size: 1.142em;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* line 30, ../sass/base/_header.scss */
.header .main-menu a:hover, .header .main-menu a:focus {
  background-color: transparent;
  color: #d93637;
}

/* line 1, ../sass/base/_footer.scss */
.footer {
  background-color: #232331;
  padding-top: 86px;
  padding-bottom: 80px;
  border-bottom: 1px solid #2c2c3f;
}
/* line 6, ../sass/base/_footer.scss */
.footer h3 {
  color: #bbbbbb;
  margin-bottom: 72px;
  font-family: "titillium_websemibold";
}
/* line 12, ../sass/base/_footer.scss */
.footer ul li {
  margin-bottom: 20px;
}
/* line 14, ../sass/base/_footer.scss */
.footer ul li a {
  color: #57576e;
  font-family: "titillium_websemibold";
  min-height: 22px;
  display: block;
}
/* line 19, ../sass/base/_footer.scss */
.footer ul li a:hover, .footer ul li a:focus {
  color: #ffffff;
  font-size: 1.071em;
}
/* line 26, ../sass/base/_footer.scss */
.footer p {
  color: #57576e;
  font-family: "titillium_websemibold";
  margin-bottom: 30px;
}
/* line 31, ../sass/base/_footer.scss */
.footer .form-control {
  background-color: #1f1f2d;
  border-radius: 0;
  border: 1px solid #31313e;
  color: #57576e;
  width: 100%;
  height: 40px;
  box-shadow: none;
}
/* line 40, ../sass/base/_footer.scss */
.footer .form-inline {
  position: relative;
}
/* line 42, ../sass/base/_footer.scss */
.footer .form-inline .btn-go {
  position: absolute;
  top: 10px;
  right: 5px;
  background: transparent;
  border: none;
  color: #4d4d63;
}

/* line 53, ../sass/base/_footer.scss */
.copyright {
  background-color: #232331;
  color: #57576e;
  text-align: center;
  font-size: 1.071em;
  padding-top: 37px;
  padding-bottom: 37px;
}
/* line 60, ../sass/base/_footer.scss */
.copyright span {
  color: #ffffff;
}

/* line 1, ../sass/partials/_common.scss */
.carousel-control {
  background-color: transparent;
  background-image: none;
  opacity: 1;
  text-shadow: none;
  width: 0;
  font-size: 10px;
  color: #bababa;
  bottom: auto;
}

/* line 15, ../sass/partials/_common.scss */
a.carousel-control {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  border: 2px solid #bababa;
  border-radius: 50%;
}
/* line 22, ../sass/partials/_common.scss */
a.carousel-control:hover, a.carousel-control:focus {
  color: #d53a38;
  border: 2px solid #d53a38;
}

/* line 27, ../sass/partials/_common.scss */
.fa-chevron-left {
  line-height: 21px;
}

/* line 32, ../sass/partials/_common.scss */
.fa-chevron-right {
  line-height: 21px;
}

/* line 37, ../sass/partials/_common.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 2, ../sass/partials/_page.scss */
.slideshow .container-fluid {
  padding: 0;
}
/* line 5, ../sass/partials/_page.scss */
.slideshow .carousel-control {
  top: 50%;
}
/* line 8, ../sass/partials/_page.scss */
.slideshow .left.carousel-control {
  left: 50%;
  margin-left: -615px;
}
/* line 12, ../sass/partials/_page.scss */
.slideshow .right.carousel-control {
  right: 50%;
  margin-right: -615px;
}
/* line 16, ../sass/partials/_page.scss */
.slideshow .carousel-caption {
  width: 1140px;
  padding: 0;
  text-align: left;
  right: auto;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  top: 160px;
}
/* line 26, ../sass/partials/_page.scss */
.slideshow .carousel-caption .year {
  margin-right: 32px;
}
/* line 29, ../sass/partials/_page.scss */
.slideshow .carousel-caption ul {
  max-width: 270px;
  margin-bottom: 25px;
}
/* line 32, ../sass/partials/_page.scss */
.slideshow .carousel-caption ul li {
  font-family: "titillium_websemibold";
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #494b4a;
}
/* line 37, ../sass/partials/_page.scss */
.slideshow .carousel-caption ul li span {
  margin-right: 20px;
  min-width: 42px;
}
/* line 44, ../sass/partials/_page.scss */
.slideshow .price {
  color: #d83737;
  font-family: "titillium_websemibold";
  margin-bottom: 22px;
}
/* line 49, ../sass/partials/_page.scss */
.slideshow .btn {
  border: 1px solid #515150;
  border-radius: 0;
  font-family: "titillium_websemibold";
  text-transform: uppercase;
  padding: 14px 13px;
  color: #ffffff;
}
/* line 56, ../sass/partials/_page.scss */
.slideshow .btn:hover, .slideshow .btn:focus {
  color: #d83737;
  border: 1px solid #ffffff;
}
/* line 60, ../sass/partials/_page.scss */
.slideshow .btn i {
  padding-left: 0;
  margin-left: 66px;
  font-size: 0.857em;
}
/* line 66, ../sass/partials/_page.scss */
.slideshow .carousel-inner > .item > img {
  height: 100%;
  width: auto;
  max-width: inherit;
}
/* line 71, ../sass/partials/_page.scss */
.slideshow .item {
  text-align: center;
}
/* line 74, ../sass/partials/_page.scss */
.slideshow .img-responsive, .slideshow .thumbnail > img, .slideshow .thumbnail a > img, .slideshow .carousel-inner > .item > img, .slideshow .carousel-inner > .item > a > img {
  display: inline-block;
}

/* line 79, ../sass/partials/_page.scss */
.slider {
  background-color: #fafafa;
  padding-top: 74px;
  padding-bottom: 74px;
}
/* line 83, ../sass/partials/_page.scss */
.slider .slider-title, .slider .item-title {
  text-transform: uppercase;
  font-family: "titillium_websemibold";
}
/* line 87, ../sass/partials/_page.scss */
.slider .item-title {
  margin-bottom: 20px;
}
/* line 90, ../sass/partials/_page.scss */
.slider .slider-title {
  text-align: center;
  margin-bottom: 60px;
}
/* line 94, ../sass/partials/_page.scss */
.slider .carousel-control {
  top: 20%;
}
/* line 97, ../sass/partials/_page.scss */
.slider .left {
  left: -5%;
}
/* line 100, ../sass/partials/_page.scss */
.slider .right {
  right: -5%;
}
/* line 103, ../sass/partials/_page.scss */
.slider .image {
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}
/* line 108, ../sass/partials/_page.scss */
.slider .image:hover a, .slider .image:focus a {
  opacity: 1;
}
/* line 113, ../sass/partials/_page.scss */
.slider .image:hover .img:before, .slider .image:focus .img:before {
  opacity: 0.9;
}
/* line 119, ../sass/partials/_page.scss */
.slider .image .img:before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #232331;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
/* line 132, ../sass/partials/_page.scss */
.slider .image a {
  position: absolute;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  opacity: 0;
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #ffffff;
  background-color: #d93637;
  right: 0;
  top: 50%;
  margin-top: -50px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: "titillium_websemibold";
  z-index: 20;
}
/* line 154, ../sass/partials/_page.scss */
.slider .detail-item ul {
  margin-bottom: 8px;
}
/* line 156, ../sass/partials/_page.scss */
.slider .detail-item ul li {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "titillium_websemibold";
}
/* line 161, ../sass/partials/_page.scss */
.slider .detail-item ul li:first-child {
  padding-top: 0;
}
/* line 166, ../sass/partials/_page.scss */
.slider .detail-item .detail-inner {
  color: #777777;
  margin-left: 20px;
}
/* line 170, ../sass/partials/_page.scss */
.slider .detail-item .year {
  margin-right: 12px;
}
/* line 174, ../sass/partials/_page.scss */
.slider .cost {
  font-family: "titillium_websemibold";
  color: #d93637;
}

/* line 180, ../sass/partials/_page.scss */
.tab-group1 {
  padding-top: 74px;
  padding-bottom: 74px;
  min-height: 600px;
}
/* line 186, ../sass/partials/_page.scss */
.tab-group1 ul.nav-tabs li a {
  font-family: "titillium_websemibold";
  color: #232230;
  font-size: 1.428em;
}
/* line 193, ../sass/partials/_page.scss */
.tab-group1 .nav {
  text-align: center;
}
/* line 196, ../sass/partials/_page.scss */
.tab-group1 .nav > li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 201, ../sass/partials/_page.scss */
.tab-group1 .nav-tabs {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
/* line 205, ../sass/partials/_page.scss */
.tab-group1 .nav-tabs > li {
  margin-bottom: 0px;
  float: none;
}
/* line 209, ../sass/partials/_page.scss */
.tab-group1 .nav-tabs > li.active > a, .tab-group1 .nav-tabs > li.active > a:hover, .tab-group1 .nav-tabs > li.active > a:focus {
  border: none;
  color: #d83536;
}
/* line 215, ../sass/partials/_page.scss */
.tab-group1 .nav > li > a {
  padding: 12px 0;
}
/* line 217, ../sass/partials/_page.scss */
.tab-group1 .nav > li > a:hover, .tab-group1 .nav > li > a:focus {
  background-color: transparent;
  border: none;
  color: #d83536;
}
/* line 223, ../sass/partials/_page.scss */
.tab-group1 .nav-tabs > li > a {
  border: none;
}
/* line 226, ../sass/partials/_page.scss */
.tab-group1 li.active > a {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
/* line 230, ../sass/partials/_page.scss */
.tab-group1 li.active > a:before {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #d73737;
  position: absolute;
  bottom: -3px;
  z-index: 10;
  left: 0;
}
/* line 243, ../sass/partials/_page.scss */
.tab-group1 .tab-content {
  padding-top: 45px;
}
/* line 246, ../sass/partials/_page.scss */
.tab-group1 .tab-content ul li {
  margin-bottom: 14px;
}
/* line 248, ../sass/partials/_page.scss */
.tab-group1 .tab-content ul li a {
  color: #232331;
  font-size: 1.071em;
  font-family: "titillium_websemibold";
}
/* line 252, ../sass/partials/_page.scss */
.tab-group1 .tab-content ul li a:hover, .tab-group1 .tab-content ul li a:focus {
  color: #d83737;
}
/* line 259, ../sass/partials/_page.scss */
.tab-group1 .col-md-4 {
  text-align: center;
}
/* line 262, ../sass/partials/_page.scss */
.tab-group1 .col-md-4:hover .title-img, .tab-group1 .col-md-4:focus .title-img {
  color: #d83737;
}
/* line 266, ../sass/partials/_page.scss */
.tab-group1 .col-md-4 .title-img {
  display: block;
  font-size: 1.428em;
  font-family: "titillium_websemibold";
  color: #232331;
}
/* line 271, ../sass/partials/_page.scss */
.tab-group1 .col-md-4 .title-img:hover, .tab-group1 .col-md-4 .title-img:focus {
  color: #d83737;
}

/* line 278, ../sass/partials/_page.scss */
.faq {
  background-color: #232331;
  padding-top: 74px;
  padding-bottom: 74px;
  min-height: 800px;
}
/* line 283, ../sass/partials/_page.scss */
.faq .faq-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: "titillium_websemibold";
  margin-bottom: 40px;
}
/* line 291, ../sass/partials/_page.scss */
.faq .panel-group .panel {
  background-color: transparent;
  border: none;
}
/* line 295, ../sass/partials/_page.scss */
.faq .panel-group .panel-default {
  border-color: transparent;
  border-bottom: 1px solid #57576e;
  border-radius: 0;
}
/* line 301, ../sass/partials/_page.scss */
.faq .panel-default > .panel-heading {
  background-color: transparent;
  color: #ffffff;
}
/* line 305, ../sass/partials/_page.scss */
.faq .panel-heading {
  padding: 27px 0 22px 0;
}
/* line 308, ../sass/partials/_page.scss */
.faq .panel-heading a {
  font-family: "titillium_websemibold";
  color: #d83737;
  font-size: 1.071em;
}
/* line 312, ../sass/partials/_page.scss */
.faq .panel-heading a i {
  border: 2px solid #d83737;
  border-radius: 50%;
  padding: 0px 3px;
  margin-right: 9px;
}
/* line 318, ../sass/partials/_page.scss */
.faq .panel-heading a.collapsed {
  color: #ffffff;
  padding: 27px 0;
}
/* line 321, ../sass/partials/_page.scss */
.faq .panel-heading a.collapsed:hover {
  color: #d83737;
}
/* line 323, ../sass/partials/_page.scss */
.faq .panel-heading a.collapsed:hover i {
  border-color: #d83737;
}
/* line 327, ../sass/partials/_page.scss */
.faq .panel-heading a.collapsed i {
  border-color: #ffffff;
}
/* line 333, ../sass/partials/_page.scss */
.faq .panel-group .panel-heading + .panel-collapse > .panel-body, .faq .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}
/* line 336, ../sass/partials/_page.scss */
.faq .panel-group .panel + .panel {
  margin-top: 0;
}
/* line 339, ../sass/partials/_page.scss */
.faq .panel-body {
  padding: 0;
}
/* line 341, ../sass/partials/_page.scss */
.faq .panel-body ul {
  margin-bottom: 26px;
}
/* line 343, ../sass/partials/_page.scss */
.faq .panel-body ul li {
  margin-bottom: 10px;
}
/* line 345, ../sass/partials/_page.scss */
.faq .panel-body ul li a {
  font-size: 1.071em;
  color: #454559;
  line-height: 1;
}
/* line 349, ../sass/partials/_page.scss */
.faq .panel-body ul li a:hover, .faq .panel-body ul li a:focus {
  color: #ffffff;
}

/* line 359, ../sass/partials/_page.scss */
.main .col-md-6 {
  padding-top: 74px;
  padding-bottom: 74px;
}
/* line 363, ../sass/partials/_page.scss */
.main .col-md-6:first-child {
  padding-right: 60px;
}
/* line 366, ../sass/partials/_page.scss */
.main .col-md-6:last-child {
  border-right: none;
  padding-left: 60px;
  border-left: 1px solid #e5e0e0;
}
/* line 372, ../sass/partials/_page.scss */
.main .title {
  font-family: "titillium_websemibold";
  margin-bottom: 70px;
}
/* line 375, ../sass/partials/_page.scss */
.main .title a {
  color: #888888;
  padding-top: 6px;
}
/* line 378, ../sass/partials/_page.scss */
.main .title a:hover, .main .title a:focus {
  color: #d83737;
}
/* line 380, ../sass/partials/_page.scss */
.main .title a:hover i, .main .title a:focus i {
  border-color: #d83737;
}
/* line 384, ../sass/partials/_page.scss */
.main .title a i {
  border: 2px solid #888888;
  border-radius: 50%;
  padding: 1px 5px;
  margin-right: 6px;
}
/* line 392, ../sass/partials/_page.scss */
.main .media-left, .main .media > .pull-left {
  padding-right: 15px;
}
/* line 395, ../sass/partials/_page.scss */
.main .media-left {
  vertical-align: top;
  display: block;
  float: left;
}
/* line 400, ../sass/partials/_page.scss */
.main .media-body {
  font-family: "titillium_websemibold";
}
/* line 402, ../sass/partials/_page.scss */
.main .media-body p {
  color: #777777;
}
/* line 406, ../sass/partials/_page.scss */
.main .media-heading {
  margin-bottom: 14px;
}
/* line 408, ../sass/partials/_page.scss */
.main .media-heading a {
  color: #232331;
}
/* line 410, ../sass/partials/_page.scss */
.main .media-heading a:hover, .main .media-heading a:focus {
  color: #d83737;
}
/* line 415, ../sass/partials/_page.scss */
.main .tag {
  color: #9d9da9;
  padding: 0 6px;
  border: 1px solid #bbbbbb;
  margin-right: 8px;
  font-size: 0.857em;
}
/* line 422, ../sass/partials/_page.scss */
.main .tag:hover, .main .tag:focus {
  color: #d83737;
  border-color: #d83737;
}
/* line 427, ../sass/partials/_page.scss */
.main p.info {
  font-size: 0.857em;
  color: #bbbbbb;
  margin-bottom: 8px;
  line-height: 1.9;
  display: inline-block;
}
/* line 435, ../sass/partials/_page.scss */
.main .dealer .row {
  border: 1px solid #dddde2;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 15px;
}
/* line 441, ../sass/partials/_page.scss */
.main .dealer .col-md-2 {
  padding-left: 6px;
  padding-right: 10px;
  width: auto;
}
/* line 445, ../sass/partials/_page.scss */
.main .dealer .col-md-2 img {
  vertical-align: middle;
}
/* line 449, ../sass/partials/_page.scss */
.main .dealer .col-md-7 {
  padding-left: 0;
}
/* line 451, ../sass/partials/_page.scss */
.main .dealer .col-md-7 p {
  margin-bottom: 0;
}
/* line 453, ../sass/partials/_page.scss */
.main .dealer .col-md-7 p:first-child {
  font-size: 1.071em;
  font-family: "titillium_websemibold";
  line-height: 1;
  margin-bottom: 5px;
}
/* line 461, ../sass/partials/_page.scss */
.main .dealer .location {
  color: #888888;
  line-height: 1;
}
/* line 465, ../sass/partials/_page.scss */
.main .dealer .col-md-3 {
  text-align: right;
  padding-right: 0;
  width: 28%;
}
/* line 469, ../sass/partials/_page.scss */
.main .dealer .col-md-3 p {
  margin-bottom: 0;
  font-size: 0.857em;
  color: #888888;
  font-family: "titillium_websemibold";
}
/* line 475, ../sass/partials/_page.scss */
.main .dealer .col-md-3 i {
  color: #ffdb69;
}

/* line 482, ../sass/partials/_page.scss */
.our-service {
  background: url("../images/bg-service.jpg") no-repeat center top;
  min-height: 586px;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 66px;
}
/* line 489, ../sass/partials/_page.scss */
.our-service:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #232331;
  opacity: 0.9;
}
/* line 500, ../sass/partials/_page.scss */
.our-service h2 {
  text-align: center;
  color: #ffffff;
  font-family: "titillium_websemibold";
  margin-bottom: 70px;
}
/* line 506, ../sass/partials/_page.scss */
.our-service .col-md-4 {
  color: #57576e;
}
/* line 509, ../sass/partials/_page.scss */
.our-service .number {
  font-size: 5em;
  color: #57576e;
  font-family: 'titillium_weblight';
  line-height: 0.7;
  letter-spacing: -8px;
}
/* line 516, ../sass/partials/_page.scss */
.our-service .service-detail {
  display: none;
}
/* line 518, ../sass/partials/_page.scss */
.our-service .service-detail li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3b3b4d;
}
/* line 522, ../sass/partials/_page.scss */
.our-service .service-detail li:first-child {
  padding-top: 0;
}
/* line 525, ../sass/partials/_page.scss */
.our-service .service-detail li:last-child {
  border-bottom: none;
}
/* line 528, ../sass/partials/_page.scss */
.our-service .service-detail li a {
  color: #515167;
}
/* line 530, ../sass/partials/_page.scss */
.our-service .service-detail li a:hover, .our-service .service-detail li a:focus {
  color: #ffffff;
}
/* line 537, ../sass/partials/_page.scss */
.our-service .service h3 {
  margin-bottom: 12px;
}
/* line 539, ../sass/partials/_page.scss */
.our-service .service h3 a {
  color: #57576e;
  font-family: "titillium_websemibold";
}
/* line 544, ../sass/partials/_page.scss */
.our-service .service p {
  margin-bottom: 25px;
  font-size: 1.071em;
}
/* line 551, ../sass/partials/_page.scss */
.our-service .service-inner:hover .number, .our-service .service-inner:focus .number {
  color: #d83737;
}
/* line 556, ../sass/partials/_page.scss */
.our-service .service-inner:hover .service h3 a, .our-service .service-inner:focus .service h3 a {
  color: #d83737;
}
/* line 560, ../sass/partials/_page.scss */
.our-service .service-inner:hover .service p, .our-service .service-inner:focus .service p {
  color: #eaeaeb;
}
/* line 563, ../sass/partials/_page.scss */
.our-service .service-inner:hover .service .service-detail, .our-service .service-inner:focus .service .service-detail {
  display: block;
}

/* line 571, ../sass/partials/_page.scss */
.contact {
  padding-top: 70px;
  padding-bottom: 140px;
}
/* line 574, ../sass/partials/_page.scss */
.contact h2 {
  margin-bottom: 81px;
  font-family: "titillium_websemibold";
  text-align: center;
}
/* line 579, ../sass/partials/_page.scss */
.contact .col-md-4 {
  padding-right: 30px;
}
/* line 581, ../sass/partials/_page.scss */
.contact .col-md-4 p, .contact .col-md-4 address {
  font-family: "titillium_websemibold";
  font-size: 1.071em;
}
/* line 585, ../sass/partials/_page.scss */
.contact .col-md-4 p {
  line-height: 1.4;
  margin-bottom: 40px;
}
/* line 589, ../sass/partials/_page.scss */
.contact .col-md-4 address {
  line-height: 2;
  margin-bottom: 43px;
}
/* line 592, ../sass/partials/_page.scss */
.contact .col-md-4 address a {
  color: #232331;
}
/* line 594, ../sass/partials/_page.scss */
.contact .col-md-4 address a:hover, .contact .col-md-4 address a:focus {
  color: #d83737;
}
/* line 600, ../sass/partials/_page.scss */
.contact .address {
  padding-right: 16px;
}
/* line 603, ../sass/partials/_page.scss */
.contact .tel {
  padding-right: 49px;
}
/* line 606, ../sass/partials/_page.scss */
.contact .mail {
  padding-right: 34px;
}
/* line 610, ../sass/partials/_page.scss */
.contact form .form-control {
  margin-bottom: 10px;
  border-radius: 0;
  border: 1px solid #dddddd;
  padding: 9px 14px;
  height: 39px;
  font-family: "titillium_webregular";
}
/* line 617, ../sass/partials/_page.scss */
.contact form .form-control:focus {
  box-shadow: none;
}
/* line 621, ../sass/partials/_page.scss */
.contact form .form-control::-moz-placeholder {
  color: #8c8c8c;
}
/* line 624, ../sass/partials/_page.scss */
.contact form select {
  color: #8c8c8c;
}
/* line 627, ../sass/partials/_page.scss */
.contact form .discription {
  height: 120px;
  padding-bottom: 72px;
}
/* line 632, ../sass/partials/_page.scss */
.contact .btn-send {
  background-color: #d83737;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "titillium_websemibold";
  font-size: 1.071em;
  padding: 44px 34px;
  border: none;
  margin-left: 241px;
}
/* line 641, ../sass/partials/_page.scss */
.contact .btn-send:hover, .contact .btn-send:focus {
  background-color: #c22b2b;
}
/* line 645, ../sass/partials/_page.scss */
.contact .col-md-8 {
  padding-left: 0;
  padding-top: 76px;
  padding-bottom: 95px;
  border-left: 1px solid #f2f2f2;
}
/* line 650, ../sass/partials/_page.scss */
.contact .col-md-8:before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 2;
  background: url("../images/border-map.png") no-repeat;
  position: absolute;
  left: 0;
  top: 40px;
}
/* line 660, ../sass/partials/_page.scss */
.contact .col-md-8 iframe {
  width: 770px;
}

/* line 668, ../sass/partials/_page.scss */
.popup .nav {
  position: fixed;
  right: 40px;
  top: 30%;
  z-index: 90;
}
/* line 674, ../sass/partials/_page.scss */
.popup .nav li a {
  border: 1px solid transparent;
  background-color: #232331;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin-bottom: 14px;
}
/* line 685, ../sass/partials/_page.scss */
.popup .nav li a:hover, .popup .nav li a:focus {
  background-color: #d83737;
}
/* line 688, ../sass/partials/_page.scss */
.popup .nav li a i {
  font-size: 1.428em;
  color: #ffffff;
  line-height: 44px;
}
/* line 695, ../sass/partials/_page.scss */
.popup .nav .fa-mobile, .popup .nav .fa-angle-up {
  font-size: 30px;
}
/* line 699, ../sass/partials/_page.scss */
.popup .modal-content {
  border-radius: 4px;
}
/* line 702, ../sass/partials/_page.scss */
.popup .modal-header {
  border-bottom: none;
}
/* line 704, ../sass/partials/_page.scss */
.popup .modal-header i {
  font-size: 14px;
}
/* line 708, ../sass/partials/_page.scss */
.popup .modal-header .close {
  margin-top: -12px;
}
/* line 711, ../sass/partials/_page.scss */
.popup .modal-body {
  padding-top: 0;
  margin-left: 115px;
  margin-right: 115px;
  padding-bottom: 66px;
}
/* line 716, ../sass/partials/_page.scss */
.popup .modal-body h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "titillium_websemibold";
}
/* line 722, ../sass/partials/_page.scss */
.popup .form-control {
  background-color: #fafafa;
  border-radius: 0;
  border-color: #dddddd;
  margin-bottom: 10px;
  padding: 12px 10px;
  color: #777777;
  height: 40px;
}
/* line 730, ../sass/partials/_page.scss */
.popup .form-control:hover, .popup .form-control:focus {
  box-shadow: none;
}
/* line 734, ../sass/partials/_page.scss */
.popup .form-control[type=password] {
  margin-bottom: 7px;
}
/* line 737, ../sass/partials/_page.scss */
.popup a {
  text-align: right;
  display: block;
  color: #858585;
  line-height: 1;
  margin-bottom: 23px;
}
/* line 743, ../sass/partials/_page.scss */
.popup a:hover, .popup a:focus {
  color: #c22b2b;
}
/* line 747, ../sass/partials/_page.scss */
.popup .form-control::-moz-placeholder {
  color: #777777;
}
/* line 750, ../sass/partials/_page.scss */
.popup .btn {
  border-radius: 0;
  height: 45px;
  width: 150px;
  background-color: #d83737;
  color: #ffffff;
}
/* line 756, ../sass/partials/_page.scss */
.popup .btn:hover, .popup .btn:focus {
  background-color: #c22b2b;
}

/* line 1, ../sass/partials/_form.scss */
.forms-search {
  background-color: rgba(35, 35, 46, 0.85);
}
/* line 3, ../sass/partials/_form.scss */
.forms-search .col-md-3 {
  margin-top: 39px;
  margin-bottom: 39px;
}
/* line 6, ../sass/partials/_form.scss */
.forms-search .col-md-3:last-child {
  margin: 0;
}
/* line 10, ../sass/partials/_form.scss */
.forms-search .form-control {
  border-radius: 0;
  border: 1px solid #5a5a64;
  background-color: #2b2a38;
  opacity: 0.7;
  color: #57576e;
  height: 40px;
}
/* line 17, ../sass/partials/_form.scss */
.forms-search .form-control:hover, .forms-search .form-control:focus {
  box-shadow: none;
  border: 1px solid #cbcbce;
  background-color: #2d2c3a;
  color: #ffffff;
}
/* line 24, ../sass/partials/_form.scss */
.forms-search .under {
  margin-bottom: 9px;
}
/* line 27, ../sass/partials/_form.scss */
.forms-search .btn {
  border-radius: 0;
  background-color: #d83737;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "titillium_websemibold";
  height: 168px;
  width: 170px;
  margin-left: 98px;
}
/* line 37, ../sass/partials/_form.scss */
.forms-search .btn:hover, .forms-search .btn:focus {
  background-color: #c22b2b;
}
/* line 42, ../sass/partials/_form.scss */
.forms-search select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  position: relative;
}
/* line 47, ../sass/partials/_form.scss */
.forms-search select:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  right: 3px;
}

@media (max-width: 1199px) {
  /* line 2, ../sass/partials/_responsive.scss */
  body {
    margin-top: 68px;
  }

  /* line 6, ../sass/partials/_responsive.scss */
  .slideshow .carousel-inner > .item > img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 18, ../sass/partials/_responsive.scss */
  .slideshow .carousel-caption {
    top: 20px;
    width: 860px;
  }
  /* line 21, ../sass/partials/_responsive.scss */
  .slideshow .carousel-caption .detail {
    margin-bottom: 10px;
  }
  /* line 25, ../sass/partials/_responsive.scss */
  .slideshow h1 {
    font-size: 2.142em;
    margin-bottom: 15px;
  }
  /* line 30, ../sass/partials/_responsive.scss */
  .slideshow .price {
    font-size: 1.428em;
    margin-bottom: 15px;
  }
  /* line 34, ../sass/partials/_responsive.scss */
  .slideshow .btn {
    padding: 4px;
  }
  /* line 36, ../sass/partials/_responsive.scss */
  .slideshow .btn i {
    margin-left: 28px;
  }
  /* line 40, ../sass/partials/_responsive.scss */
  .slideshow .left.carousel-control {
    margin-left: -480px;
  }
  /* line 43, ../sass/partials/_responsive.scss */
  .slideshow .right.carousel-control {
    margin-right: -480px;
  }

  /* line 52, ../sass/partials/_responsive.scss */
  .forms-search .btn {
    margin-left: 42px;
  }

  /* line 58, ../sass/partials/_responsive.scss */
  .slider .left {
    left: -25px;
  }
  /* line 61, ../sass/partials/_responsive.scss */
  .slider .right {
    right: -25px;
  }

  /* line 67, ../sass/partials/_responsive.scss */
  .main .media-left {
    max-width: 200px;
  }
  /* line 70, ../sass/partials/_responsive.scss */
  .main .tag {
    padding: 0 3px;
  }
  /* line 74, ../sass/partials/_responsive.scss */
  .main .dealer .col-md-2 {
    padding-right: 6px;
  }
  /* line 77, ../sass/partials/_responsive.scss */
  .main .dealer .col-md-7 {
    padding-right: 5px;
    width: 64.333%;
  }
  /* line 81, ../sass/partials/_responsive.scss */
  .main .dealer .col-md-3 {
    padding-left: 0;
    width: 20%;
  }

  /* line 88, ../sass/partials/_responsive.scss */
  .contact .btn-send {
    margin-left: 174px;
  }

  /* line 93, ../sass/partials/_responsive.scss */
  .popup .nav {
    right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 101, ../sass/partials/_responsive.scss */
  .slideshow .carousel-caption {
    display: none;
  }
  /* line 104, ../sass/partials/_responsive.scss */
  .slideshow .left.carousel-control {
    margin-left: -370px;
  }
  /* line 107, ../sass/partials/_responsive.scss */
  .slideshow .right.carousel-control {
    margin-right: -370px;
  }
}
