@mixin clearfix{
  &:after{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}

@mixin fontawesome{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin sprites{
	//background-image: url(../images/sprites.png);
	//background-repeat: no-repeat;
}

@mixin border-radius($number...) {
    border-radius: $number;
    -webkit-border-radius: $number;
}

@mixin transition($time){
  -webkit-transition: all ease-in $time;
  -moz-transition: all ease-in $time;
  -ms-transition: all ease-in $time;
  -o-transition: all ease-in $time;
  transition: all ease-in $time;
}