// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body: 'open_sansregular';
$font-primary: 'open_sanslight';

// font size
$body-font-size: 14px;
$fontsize-11: .785em;
$fontsize-12: .857em;
$fontsize-13: .928em;
$fontsize-14: 1em;
$fontsize-15: 1.071em;
$fontsize-16: 1.142em;
$fontsize-18: 1.285em;
$fontsize-19: 1.357em;
$fontsize-20: 1.428em;
$fontsize-24: 1.714em;
$fontsize-25: 1.786em;
$fontsize-28: 2em;
$fontsize-30: 2.142em;
$fontsize-32: 2.285em;
$fontsize-35: 2.5em;
$fontsize-36: 2.571em;
$fontsize-40: 2.857em;
$fontsize-48: 3.428em;
$fontsize-50: 3.571em;

// color
$body-color: #404041;
$link-white-color: #fff;
$link-blue-color: #0e76bc;


