.header{
  background-color: #2e2e3b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  opacity: 0.9;
  .logo{
    padding-top: 16px;
    a{
      font-family: $font-primary;
    }
  }
  .main-menu{
    ul{
      li{
        &:last-child{
          a{
            padding-right: 0;
          }
        }
      }
    }
    a{
      font-size: $fontsize-16;
      color: $link-color;
      padding-top: 24px;
      padding-bottom: 24px;
      &:hover, &:focus{
        background-color: transparent;
        color: #d93637;
      }
    }
  }
}